.TotalQuantitySoldBarChart {
  width: 80%;
}
.TotalRevenuePieChart {
  width: 80%;
}
.DailyRevenueOverTime {
  width: 65%;
}
.pieCategory {
  width: 30%;
}
.CustomerSignupsChart {
  width: 25%;
}
.CustomerDemographic {
  width: 25% !important;
}
.LoyaltyMember {
  width: 25%;
}
.TotalQuantitySoldBarChart,
.TotalRevenuePieChart,
.DailyRevenueOverTime,
.CustomerSignupsChart,
.CustomerDemographic,
.LoyaltyMember,
.DailyRevenueOverTime,
.pieCategory,
.top-product-sell-container {
  border: 2px solid #b350ff;
  border-radius: 25px;
  padding: 25px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 10px;
}
