.pieCategory {
    height: 500px;
    width: 500px;
  }
  
  .DailyRevenueOverTime {
    height: 35vh;
    width: 75vw;
  }
  
  .TotalQuantitySoldBarChart {
    width: 500px; /* Increased width */
    height: 500px; /* Added height */
  }
  
  .TotalRevenuePieChart {
    width: 500px; /* Increased width */
    height: 500px; /* Added height */
  }
  