body {
  background: #153448;
}
#mainTitle {
  color: white;
  text-align: center;
  font-size: 2vw;
}
#topBar {
  margin-top: 2.5vh;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
}
#logoContainer {
  height: 100%;
  display: flex;
  text-decoration: none;
}
#logo {
  margin-left: 5vw;
  height: 80%;
  width: auto;
}
#title {
  text-decoration: none;
  color: white;
  margin-left: 10%;
  font-size: 2.5vw;
  height: 100%;
}
#dateNav {
  margin-right: 5vw;
  color: white;
  font-size: 2.5vw;
}
#goldTitle {
  width: 90vw;
  height: 5vh;
  margin-left: 5vw;
  display: flex;
  flex-direction: row;
  background-color: #948979;
  border-radius: 10px;
  margin-bottom: 1.5vh;
}
#goldTitle p {
  color: white;
  display: flex;
  align-items: center;
}
#titleName {
  width: 39%;
  padding-left: 5%;
  margin-right: 10%;
}
#titleTime {
  margin-right: 5%;
  width: 17%;
}
#titleBuy {
  width: 17%;
  text-align: center;
}
#titleSell {
  width: 17%;
  text-align: center;
  margin-left: 2%;
}
#boardGrid {
  width: 90vw;
  margin-left: 5vw;
  display: grid;
  grid-template-areas: "info price";
  grid-template-columns: 1.5fr 1fr;
}
#nameBox,
#priceBox {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
#typeName,
#boardPrice {
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-between;
  width: 100%;
}
#boardPrice p {
  text-align: center;
  width: 50%;
}
#typeName {
  color: #708592;
}
#goldInfo {
  width: 65%;
  margin-left: 5%;
}
#b1 {
  color: #496475;
}
#b2 {
  color: #c27548;
}
#timeInput {
  width: 25%;
}
#nameBox {
  grid-area: info;
  background-color: #d9d9d9;
  margin-right: 1vw;
}
#priceBox {
  grid-area: price;
  background-color: #dfd0b8;
}
.even-row {
  background-color: #f0f8ff;
}

.odd-row {
  background-color: #fff;
}

.ant-table-thead > tr > th {
  background-color: #1890ff;
  color: white;
}
