.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;

  a {
    text-decoration: none;
  }
}

.header__logo {
  width: 50px; /* Adjust logo size */
  height: auto;
}

.header__title {
  color: #000;
  font-family: "PNJ Demibold", sans-serif; /* Ensure consistent font */
  font-size: 24px;
  margin: 0; /* Remove default margin */
}

.header__account {
  display: flex;
  align-items: center;
}

.header__account-button {
  color: #000;
  font-size: 15px;
  display: flex;
  align-items: center;
  height: auto;
  background: none; /* Remove button background */
  border: none; /* Remove button border */
  padding: 0; /* Remove button padding */
}

.header__account-icon {
  color: #000;
  height: 20px;
  margin-right: 5px;
}

.header__account-text {
  color: #000;
  font-size: 18px;
}

.header__account-text:hover {
  text-decoration: underline;
}

.header__account-button:hover .header__account-text {
  text-decoration: underline;
}
