.Policy {
  width: 100%;
  height: 100%;
  background-color: #153448;
  margin: 0;
  padding: 0;
  height: 100vh;

  .header__policy {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;

    img {
      width: 3%;
    }

    &__logo {
      color: #fff;
    }
  }

  .title {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    h2 {
      color: #fff;
    }
  }

  .content__policy {
    &__refund {
      padding-left: 80px;
      padding-right: 20px;
      line-height: 30px;
      padding-bottom: 18px;
    }

    &__title {
      color: #ffd700;
    }

    &__nd {
      color: #fff;
    }

    &__purchase {
      padding-left: 80px;
      padding-right: 20px;
      line-height: 30px;
      padding-bottom: 18px;
    }

    &__guarantee {
      padding-left: 80px;
      padding-right: 20px;
      line-height: 30px;
    }
  }
}
