.Home {
  background-color: #fff;
  height: 100dvh;
}

.Home__jewelry {
  width: 100%;
  height: 10dvh;
  background-color: #fff;
  padding: 20px 0px;
}

.Home .jewelry {
  margin-left: 3px;
  color: red;
}

.Home__jewelry {
  display: flex;
  justify-content: center;
}
