/* .Admin {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
}

.Admin_sidebar {
  width: 20%;
}

.Admin_content {
  width: 80%;
  background-color: #448ab7;
  overflow-y: auto;
} */
