// .AdminAccountStaff {
//   background-color: #fff;
//   width: 100%;
//   height: 100vh;
//   display: flex;

//   &__sidebar {
//     width: 20%;
//   }

//   &__content {
//     width: 80%;
//     background-color: #448ab7;
//     overflow-y: auto;

//     &__title {
//       display: flex;
//       justify-content: center;
//       padding: 10px;
//       color: #fff;
//     }
//   }
// }
