.staffForm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.filtered{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
}
.formElement{
    width: 50%;
    display:flex;
    gap: 10%;
}
.shiftIcon span{
    padding: 2.5px ;
}